<article id ="contact">

  <h1>Birds</h1>
  
    <p>
      Mole Valley is home to a wide range of bird species, many of which favour
      particular habitats. Some of these are highlighted below:
    </p>
  

  <section id ="animals", class="taxon">
    <h2>River Mole</h2>
    <p>
      <%= image_tag "birds/Kingfisher with fish.jpg", :class => 'birds',
                    :title => 'Kingfisher with fish. Copyright: Jeremy Early', :alt => "Kingfisher with fish" %>
      Kingfishers can be seen along the length of the river – a flash of blue and
      orange flying swiftly past. Grey wagtails are also common often seen around
      the Leatherhead Town Bridge and in Winter goosanders can be seen swimming
      along the river.
    </p>
  </section>

  <section id ="hill", class="taxon">
    <h2>Ponds and streams</h2>
    <p>
      <%= image_tag "birds/Grey_Wagtail.jpg", :class => 'birds',
                    :title => 'Grey Wagtail. Copyright: Jeremy Early', :alt => "Grey Wagtail" %>
      Many common birds can be seen on our ponds and streams including mallards,
      coots, moorhens, Canada geese, greylag geese and grey wagtails.
    </p>
  </section>

  <section id ="hill", class="taxon">
    <h2>Farmland</h2>
    <%= image_tag "birds/red legged partridge.jpg", :class => 'birds',
                  :title => 'Red-legged Partridge. Copyright: Heather & Don Gerrard', :alt => "Red-legged Partridge" %>
    <p>
      There is a range of birds found in our farmland habitat including game birds
      such as pheasants and red-legged partridge. In the hedgerows you can see
      yellowhammers and finches and feeding in the fields there are often skylarks
      and thrushes; in the Winter the song and mistle thrushes are joined by
      redwings and fieldfares from Scandinavia.
    </p>
  </section>

  <section id ="hill", class="taxon">
    <h2>Woodland</h2>
    <p>
      <%= image_tag "birds/lesser redpoll.jpg", :class => 'birds',
                    :title => 'Lesser Redpoll. Copyright: Heather & Don Gerrard', :alt => "Lesser Redpoll" %>
      Our woodland areas host a wide variety of birds including 5 species of tit
      (blue, great, coal, long-tailed and marsh), great spotted woodpeckers,
      redpolls and siskins.
    </p>
  </section>

  <section id ="hill", class="taxon">
    <h2>Urban parks, green spaces and gardens</h2>
    <p>
      <%= image_tag "birds/House-Martin.jpg", :class => 'birds',
                    :title => 'House Martin collecting nesting material. Copyright: Jeremy Early', :alt => "House Martin" %>
      Another rich environment for several species of birds which include:
      green woodpeckers, robins, blackbirds, tits, pied wagtails and many more.
    </p>
  </section>

  <section id ="hill", class="taxon">
    <h2>Commons and Heaths</h2>
    <p>
      <%= image_tag "birds/Nightingale.jpg", :class => 'birds',
                    :title => 'Nightingale. Copyright: Jeremy Early', :alt => "Nightingale" %>
      Our commons and heathlands are home all year round to birds such as finches
      and tits. Rarer summer migrants include woodlarks (Headley Heath),
      nightingales and warblers (Bookham Common). Arguably the most important
      bird site in Mole Valley is Bookham Common for nightingales.
    </p>
  </section>
</article>