<article id ="contact">
  
    <h1>Butterflies</h1>
<section id = "main", class="taxon">
    <p>
      <%= image_tag "butterflies/White_Letter_Hairstreak.jpg", :class => 'butterfliesLeft',
                    :title => 'White-letter Hairstreak. Copyright: Jeremy Early', :alt => "White-letter Hairstreak butterfly" %>
      Mole
      Valley is nationally important for its butterflies. These are cold-blooded
      insects that need warmth, shelter and the right plants to be able to fly, feed
      and breed. The warm, south-facing slopes of the North Downs with their variety
      of plants, support the highest numbers of butterflies locally. Most adult
      butterflies need nectar to feed on, and will take it from a wide range of
      flowers. A few feed on ‘honeydew’, a sweet sticky substance produced by aphids,
      which coats the leaves of trees, and the Purple and White-letter Hairstreaks
      which use it spend most of their time in the treetops. Caterpillars are choosy
      about what they will eat, and female butterflies lay eggs on the plants that
      the caterpillar will feed on as soon as it hatches. Adonis Blue and Chalkhill
      Blue caterpillars feed on Horseshoe Vetch, which only grows on chalk grassland,
      so they are restricted to this habitat. Caterpillars of the Red Admiral and
      Peacock feed on nettles, and these butterflies are found in many more places,
      including parks and gardens.
    </p>

    <p>
      Many
      kinds of butterfly have declined in numbers in recent decades, and some need
      conservation work, such as grazing by cattle or sheep, to provide the right
      conditions for them to survive. These conditions are suitable for many other
      insects too, most of which are less conspicuous than butterflies. Thus
      butterflies are good ‘indicator species’; if a site supports a good number of
      butterflies of different kinds, it is likely to have a good range of other
      insects too, which provide food needed by other wildlife, such as birds and
      bats.
    </p>


    <p>
      Here
      we illustrate five butterflies found in Mole Valley that are of conservation
      importance as well as being attractive and interesting. While a visit to a good
      chalk grassland or woodland site is necessary to find these five, many others
      can be seen visiting gardens, parks and roadside verges. Up to 20 different
      kinds of butterfly, including the Brimstone, Peacock, Red Admiral and Speckled
      Wood, can be attracted to gardens to feed by providing a supply of nectar from
      spring through to autumn (Buddleia, Michaelmas Daisy and Aubrieta are among the
      best flowers for this).
    </p>
  </section>

  <section id ="animals", class="taxon">
    <p>
      <%= image_tag "butterflies/Silver_Spotted_Skipper.jpg", :class => 'butterfliesRight',
                    :title => 'Silver-spotted Skipper. Copyright: Jeremy Early', :alt => "Silver-spotted Skipper butterfly" %>
      <strong>Silver-spotted Skipper:</strong> This little butterfly
      flies in August on the downs. Box Hill is a good place to see it. A few decades
      ago it was so rare nationally that it was feared it might become extinct in
      Britain, and the our local chalk grassland held important populations. Its
      caterpillars feed only on a grass called Sheep’s Fescue, and it used to breed
      only on south-facing chalk slopes, in the hottest spots with very short grass
      and lots of bare ground. Lack of grazing and loss of chalk grassland to
      agriculture and housing led to the extinction of many populations. In recent
      years however, conservation grazing has helped the Silver-spotted Skipper to
      survive, warmer summers have enabled it to breed in slightly longer grass, and
      it has recovered in numbers and spread to new sites. It flies close to the
      ground on hot August days, visiting Stemless Thistles for nectar, but if
      disturbed it flies away very fast.
    </p>
  </section>

  <section id ="animals", class="taxon">
    <p>
      <%= image_tag "butterflies/adonis_blue.jpg", :class => 'butterfliesLeft',
                    :title => 'Adonis Blue on Eyebright', :alt => "Adonis Blue butterfly on eyebright" %>
      <strong>The Adonis Blue </strong>is a
      vivid blue butterfly that is a favourite of butterfly enthusiasts. It has two
      generations a year, and can be seen in May and again in August. Denbies
      Hillside, to the west of Dorking is the best place to see it in Mole Valley.
      Like the Silver-spotted Skipper it is a chalk grassland butterfly that became
      very rare in the 1970s and ‘80s, due to loss of the habitat it needs. Because
      Horseshoe Vetch, which the caterpillars feed on, is itself a scarce plant that
      has disappeared from many places on the downs and does not easily re-colonise,
      it has not recovered its lost populations here, though it has done better in
      Wiltshire and Dorset. Grazing is carried out on the few sites in Surrey where
      it survives, and must be carefully monitored to provide the right conditions.
      The caterpillar produces a sweet liquid which attracts ants that form an
      excited cluster around it. This helps to protect it from predators and parasites,
      and both the caterpillar and the ant benefit from the association.

    </p>
  </section>

  <section id ="animals", class="taxon">
    <p>
      <%= image_tag "butterflies/Brown_Hairstreak.jpg", :class => 'butterfliesRight',
                    :title => 'Brown Hairstreak. Copyright: Jeremy Early', :alt => "Brown hairstreak butterfly" %>
      <strong>Brown Hairstreak: </strong>This
      is the last British butterfly to emerge in the summer, not flying until August
      and September. It is nationally scarce, with scattered populations in a few
      counties. The weald of Surrey and Sussex is one of its strongholds, and in the
      last 20 years it has extended its range, and now occurs across Mole Valley and
      up to the southern edge of London. Males stay up in the treetops, but females
      fly out from these to lay their eggs singly on young shoots of Blackthorn in
      hedges, woodland rides and even gardens. The adults are rarely seen, which is a
      shame because this is a beautiful butterfly. The eggs stay on the Blackthorn
      all winter till they hatch in April, and volunteers map the distribution of the
      butterfly by searching for them. It gives enthusiasts a chance to spot
      butterflies even in the coldest months!
    </p>
  </section>

  <section id = "Adder", class="taxon">
    <p>
      <%= image_tag "butterflies/Purple-Emperor.jpg", :class => 'butterfliesLeft',
                    :title => 'Purple Emperor. Copyright: Jeremy Early', :alt => "Purple Emperor butterfly" %>
      <strong>Purple Emperor: </strong>
      People
      come from all over Britain to Mole Valley to see this spectacular butterfly!
      Bookham Common is one of the top places in the country for visitors to get good
      views, and many join special guided walks run by the National Trust and by
      Butterfly Conservation. The Purple Emperor has a limited distribution,
      occurring in woodland in a few southern counties of England. It flies from the
      end of June till the beginning of August. Only the males have the stunning
      purple sheen on the wings, but the females are still striking butterflies. This
      butterfly never visits flowers, but males may land on woodland rides and can be
      approached – with care – to obtain good views. Eggs are laid on Sallow bushes
      and the caterpillars feed on the leaves in late summer and the following
      spring, spending the winter camouflaged on the stems.
    </p>
  </section>

  <section id ="animals", class="taxon">
    <p>
      <%= image_tag "butterflies/Silver_Washed_Fritillary.jpg", :class => 'butterfliesRight',
                    :title => 'Silver-washed Fritillary. Copyright: Jeremy Early', :alt => "Silver-washed Fritillary butterfly" %>
      <strong>Silver-washed Fritillary: </strong>This is another large, spectacular woodland
      butterfly. It occurs in several woods in Mole Valley and can be seen from late
      June till mid-August in sunny rides and clearings, where it feeds on flowers,
      especially bramble. Unusually, the eggs are not laid on the plants that the
      caterpillars eat, but on mossy tree-trunks close to patches of Common
      Dog-violet. The eggs hatch after a few weeks but the caterpillars stay on the
      tree-trunk until spring, when they drop or crawl down to the ground to feed on
      the violet leaves, basking in the sun on dead leaves to raise their
      temperature. At Box Hill this butterfly occurs along with the very similar
      <strong>Dark Green Fritillary</strong>, which is very
      scarce in Surrey and Box Hill is now the only place where it is regularly seen.
      It also needs violets for its caterpillars to feed on, but unlike the
      Silver-washed, this Fritillary is a grassland butterfly, feeding on Hairy
      Violet in longer grass and around the edge of patches of scrub.
    </p>
  </section>
</article>