<article id ="home">

  <h1>Mole Valley's Natural History</h1>

<section id = "main">

  <p>

    Welcome to Mole Valle's Natural History. Mole Valley has stunning landscapes with a natural history that is
    internationally
    and nationally important. We hope this site will help you appreciate the value of the district's natural
    phenomena, and
    encourage greater care and appreciation of this very special place. The natural beauty of Mole Valley's
    landscape has
    influenced and inspired many artists, writers and poets including John Keats and Jane Austen.

  </p>

  <%= image_tag "broadwoods_folley.jpg", :class => 'main-image', :alt => "Broadwood's Folley" %>

  <p>

    The rich landscape of Mole Valley is comprised of four distinct landscape types or character areas formed by the
    underlying
    geology;
    <a href="http://www.naturalengland.org.uk/ourwork/farming/funding/ecs/sitings/areas/114.aspx" target="_blank">Thames Basin
      Lowlands</a>,
    <a href="http://www.naturalengland.org.uk/ourwork/landscape/englands/character/areas/north_downs.aspx" target="_blank">North Downs</a>,
    <a href="http://www.naturalengland.org.uk/ourwork/landscape/englands/character/areas/wealden_greensand.aspx" target="_blank">Wealden
      Greensand</a> and the
    <a href="http://www.naturalengland.org.uk/ourwork/landscape/englands/character/areas/low_weald.aspx" target="_blank">Low
      Weald</a>.
    Perhaps most dominant and significant is the
    chalk escarpment of the North Downs, home to
    <a href="http://www.nationaltrust.org.uk/box-hill/" target="_blank">Boxhill</a>,
    which crosses the District and can be viewed from as far away as the
    South Downs. The North Downs are paralleled to the South by an undulating and heavily wooded greensand ridge rising
    to
    <a href="http://www.nationaltrust.org.uk/home/item258348/" target="_blank">Leith Hill</a>
    in the west of the District. South of this is the gently undulating Weald which is more extensively wooded in the
    South
    West of the District. To the North of the District, the Thames Lowland Basin acts as the interface between the
    countryside and
    urban edge and is largely broad and flat with strong field patterns and wooded shaws.
  </p>

  <p>
    The District's name sake, the
    <a href="http://en.wikipedia.org/wiki/River_Mole" target="_blank">River Mole</a>,
    carves its path, starting near Gatwick as a collection of small tributaries in the
    Weald before carving through the steep sided valley of the North Downs, creating the Mole Gap, before extending
    beyond
    Leatherhead and Fetcham to meet the Thames to the North.
  </p>

  <p>
    Such is the importance of the District it is covered by an array of landscape designations including a European
    designation of
    an
    <acronym title="Special Area of Conservation"><a href="http://www.jncc.gov.uk/protectedsites/sacselection/sac.asp?EUcode=UK0012804" target="_blank">SAC</a></acronym>,
    <acronym title="Site of Special Scientific Interest"><a href="http://www.sssi.naturalengland.org.uk/Special/sssi/searchresults.cfm?sssi_name=&amp;frmcounty=1039" target="_blank">SSSI&#8217;s</a></acronym>,
    <acronym title="Sites of Nature Conservation Importance">SNCI&#8217;s</acronym>,
    <acronym title="National Nature Reserve"><a href="http://www.cityoflondon.gov.uk/Corporation/LGNL_Services/Environment_and_planning/Parks_and_open_spaces/Ashtead_Common" target="_blank">NNR</a></acronym>,
    <acronym title="Local Nature Reserve"><a href="http://www.molevalley.gov.uk/index.cfm?articleid=5088" target="_blank">LNR&#8217;s</a></acronym>
    and an
    <acronym title="Special Protection Area"><a href="http://www.surreywildlifetrust.org.uk/Default.asp?mainmenu=ourplaces&amp;SiteID=%7bD78D43CA-91DF-4C6C-A031-0C97ED85B642%7d&amp;EntityID=%7bD78D43CA-91DF-4C6C-A031-0C97ED85B642%7d" target="_blank">SPA</a></acronym>.
  </p>

  <p>
    The district is one of most wooded parts of Surrey and England with 30.5% woodland cover compared against a national
    average of
    7.5 %. This, in part, is made up of nearly 4000Ha of Broadleaf Woodland, some of which is ancient, and, just over
    2000Ha of
    mixed woodland.
  </p>

  <p>
    The presence of a rich and varied underlying
    <a href="http://www.landis.org.uk/soilscapes" target="_blank">geology</a>
    means the Mole Valley district is home to a rich array of
    <%= link_to "species", whatishere_path %> and
    <a href="http://www.surreycc.gov.uk/sccwebsite/sccwspages.nsf/LookupWebPagesByTITLE_RTF/Surrey+Biodiversity+Action+Plan?opendocument" target="_blank">habitats</a>
    including chalk grassland, lowland heath, wood pasture, and dry acid grassland to name a few, as well as the UK’s
    only
    native <%= link_to "Boxwood", plants_path %>
    population and strong populations of the
    <%= link_to "Purple Emperor butterfly", butterflies_path %>.
    Some of these important and impressive
    habitats and landscape features can be accessed easily from the District's 
    towns. Mole Valley District Council
    has produced a
    booklet with a number of walks to enable you to enjoy this landscape and is available from
    <a href="http://www.molevalley.gov.uk/index.cfm?articleid=3594" target="_blank">here</a>.
  </p>

  <p>
    The District is ecologically important due to the presence of many species, habitats and high area of woodland
    cover.
    It is our aim to support the drive to conserve biodiversity for future generations and to highlight the essential
    role
    it
    plays in maintaining our living conditions through providing
    <a href="http://www.ecosystemservices.org.uk/ecoserv.htm" target="_blank">ecosystem services</a>
    such as climate regulation, pollination,
    water purification, genetic resources and flood control.
  </p>

  <p>
    We hope the information here inspires you to explore the landscape, its habitats and identify species and appreciate
    its
    value and beauty. We ask that you respect the countryside by following the
    <a href="http://www.countrysideaccess.gov.uk/things_to_know/countryside_code" target="outside_link">countryside
      code</a>
    and take memories and experiences and leave nothing but footprints.
  </p>

  <p>
    This site has been prepared by, and is maintained by Mole Valley's Natural Conservation Group. This group has
    representatives
    from the organisations listed below. The
    <%= link_to "organisations", organisations_path %>
    have an interest in Mole Valley's natural history and are responsible
    for managing areas of the District's rich and varied landscape. Opportunities exist to get involved with these
    organisations
    or the Mole Valley nature conservation groups; if you feel inspired or have a keen interest then please contact them
    directly.
  </p>
</section>

<section>
  <p>
    <a href="http://www.surreyflora.org.uk/favicon.ico" target="outside_link">Surrey Botanical Society</a><br>
    <a href="http://www.surreycc.gov.uk/sccwebsite/sccwspages.nsf/LookupWebPagesByTITLE_RTF/Lower+Mole+project?open%20document" target="outside_link">
      Lower Mole Countryside Project</a><br>
    <a href="http://www.nationaltrust.org.uk/main/w-global/w-localtoyou/w-south_east/w-south_east-contact_us.htm" target="outside_link">National
      Trust</a><br>
    <a href="http://www.surreywildlifetrust.co.uk/" target="outside_link">Surrey Wildlife Trust</a><br>
    <a href="http://surrey-arg.org.uk/" target="outside_link">Surrey Amphibian and Reptile Group</a><br>
    <a href="http://www.surreybutterflies.org/rss/index.xml" target="outside_link">Butterfly Conservation</a><br>
    <a href="http://www.molevalley.gov.uk/" target="outside_link">Mole Valley District Council</a><br>
    <a href="http://www.rspb.org.uk/groups/dorkinganddistrict" target="outside_link">RSPB Dorking and District Local
      Group</a><br>
    Leatherhead and District Countryside Protection Society<br>
    <a href="http://www.britmycolsoc.org.uk/" target="outside_link">British Mycological Society</a><br>

  </p>

  </section>

</article>